@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: "Figtree", sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(47, 88%, 63%);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    max-width: 384px;
    height: 522px;
    border-radius: 20px;
    border: 2px solid black; 
    box-shadow: 8px 8px 0px black;
    transition: .3s ease-in;
}

.container:hover {
    cursor: pointer;
    box-shadow: 14px 14px 0 0 hsl(0, 0%, 0%);
}
.container:focus-within {
    box-shadow: 14px 14px 0 0 hsl(0, 0%, 0%);
  }
  .container:hover a {
    color: hsl(47, 88%, 63%);
}
a{
    text-decoration: none;
    color: black;
}
.img-container{
    display: flex;
    justify-content: center;
}
.illustration{
    height: 200px;
    max-width:100%;
    border-radius: 10px;
}
.text-container{
    text-align: left;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    width: 100%;
    gap: 18px;
    padding-top: 15px;
    padding-left: 10px;
}
.heading1{
    background-color: hsl(47, 88%, 63%);
    width: 20%;
    font-size: 14px;
    height: 29px;
    width: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    text-align: center;
    color:  hsl(0, 0%, 7%);
    border-radius: 4px;
}
.heading2{
    font-size: 24px;
    font-weight: bolder;
    color:  hsl(0, 0%, 7%);
}
.date{
    font-size: 14px;
    font-weight:500;
    color:  hsl(0, 0%, 7%);
}
.para{
    height: 72px;
    font-size: 16px;
    color: hsl(0, 0%, 42%);
}
.user-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.user{
    height: 32px;
    width: 32px;
}
@media (max-width:400px) {
    .container{
        width: 300px;
        height: 501px;
    }
    .illustration {
        width: 90%;
        height: auto;      
    } 
}
